<% layout("/layouts/boilerplate")%>

   <div class="row">
      <div class="col-8 offset-2">
         <br>
     <h1>Create New Listing</h1>
     <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
     
    
     <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input placeholder="enter title" name="listing[title]" type="text" class="form-control" required>
        <div class="valid-feedback">title looks good</div>
      </div>
     
     <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea placeholder="enter Description" name="listing[description]" type="text"  class="form-control" required></textarea>
     </div>  

      <div class="mb-3">
         <label for="Image" class="form-label">Upload image</label>
         <input name="listing[image]" type="file"  class="form-control">
      </div>
      
    <div class="row">
      <div class="mb-3 col-4">
         <label for="Price" class="form-label" >Price</label>
         <input  name="listing[price]"   class="form-control" required>
      </div>
        
      <div class="mb-3 col-8">
         <label for="location" class="form-label">Location</label>
         <input placeholder="enter location" name="listing[location]" type="text"  class="form-control" required>
      </div>
   </div>
       
      <div class="mb-3">
         <label for="country" class="form-label">Country</label>
         <input placeholder="enter country" name="listing[country]" type="text"  class="form-control" required>
      </div>
  
      
      <button class="btn btn-dark add-btn">Add</button>
     </form>
     <br>
   </div>
   </div>

